


%header
  %h2{:style => "color:white;"} Search result for "COMS"

%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  :css
    body {
      opacity: 0.7;
      background-image: url('https://www.jakpost.travel/imgfiles/full/55/554021/columbia-university-wallpaper.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      overflow: hidden;
    }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      background: white;
    }

%body
  %table{:style => "width:90%"}
    %thead
      %tr
        %th Call#
        %th Class/Title
        %th Instructor
        %th Day
        %th Time/Location 
        %th Start/End
        %th Status
    %tbody
      - @courses.each do |course|
        %tr
          %td= link_to course.call, new_course_path
          %td= course.number + " sec: " + course.sec.to_s + " "+ course.title
          %td= course.instructor
          %td= course.day
          %td= course.time + " " + course.location
          %td= course.period
          %td= course.status





